
.log {
  position: fixed;
  padding: 5px;
  font-size: 14px;
  right: -30px;
  top: 25px;
  width: 180px;
  height: 350px;
  animation: log 40s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

@keyframes log {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg) scale(1);
  }

  33% {
    transform: translateX(1px) translateY(1px) rotate(1deg) scale(1.03);
  }

  66% {
    transform: translateX(1px) translateY(-1px) rotate(-1deg) scale(0.97);
  }

  100% {
    transform: translateX(0) translateY(0) rotate(0deg) scale(1);
  }
}


.log p {
  margin-bottom: 12px;
}
